<%- include('./partials/header')%>
<%- include('navbar')%>
<!-- home section start -->
<section class="container-fluid mt-5" >
  <section class="row">
    <section class="col-md-10 col-12 mx-auto">
      <section  class="row">
        <section id="set-1" class=" home-text col-md-6 col-12 main-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <h1>WE WILL HELP YOU TO</h1>
          <h1>GROW YOUR BUSINESS</h1>
          <p>We Are The Team Of <span class="bold-style">Professional Developer✌️</span> </p>
          <button class= "btn-style btn-primary">Read More</button>
        </section> 
        <!-- right side -->
        <section class="col-md-6 col-12 main-text order-md-1 order-0">
          <figure>
          <img id="growth" src="/images/growth.svg" alt="">
          </figure>
        
      </section>
      </section>
    </section>
  </section>
</section>

<!-- home section end -->

<!-- about section start -->
<%- include('about')%>
<!-- about section end -->

<!-- service section start -->
<%- include('service')%>
<!-- service section end -->

<!-- map section start -->
<%- include('map')%>
<!-- map section end -->

<!-- contact section start -->
<%- include('contact')%>
<!-- contact section end -->


<%- include('./partials/footer')%>